{% extends 'base.html.twig' %}

{% block title %}User Profile → Follows{% endblock %}

{% block bread %}
	→ User Profile → Follows
{% endblock %}

{% block body %}
	<div class="lg:flex ">
	<div class=" lg:h-screen border-r border-gray-500">
	{{ include ('profile/_profile_header.html.twig') }}
	</div>
		<div class="lg:w-full">
	{{ include ('profile/_profile_tabs.html.twig') }}
	{{ include ('follower/_follower_list.html.twig', { users: user.follows }) }}
	</div>
	</div>
{% endblock %}