
{%- block form_errors -%}
	{%- if errors|length > 0 -%}
		<div class="@apply pb-2 text-red-700 dark:text-red-400">
		<ul>
			{%- for error in errors -%}
				<li class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</li>
			{%- endfor -%}
		</ul>
		</div>
	{%- endif -%}
{%- endblock form_errors -%}